.new-items-display {
  margin-top: 15px;
  padding: 10px;
  min-height: 100px; /* Increased height */
  background-color: #f0f8ff;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.new-item-tag {
  background-color: #bde0fe;
  padding: 8px 15px; /* Increased padding */
  border-radius: 15px;
  font-size: 1em; /* Increased font size */
  display: flex;
  align-items: center;
  align-self: flex-start; /* Prevent stretching vertically */
  line-height: 1; /* Minimal line height for text */
  gap: 8px;
}

.delete-temp-item-btn {
  background: #a0a0a0;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.8em;
  padding: 0;
  line-height: 1;
}

.delete-temp-item-btn:hover {
  background: #8b0000;
}

/* Styles for the right-hand side display of existing items */
.existing-items-container {
  background-color: #f8f9fa;
  border-left: 1px solid #dee2e6;
  padding: 15px;
}

.existing-item-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 11px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.ucionica-card .naziv {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 4px; /* Reduced margin to make items less spread out */
}

.ucionica-card .tip {
  font-style: italic;
  color: #6c757d;
}

.existing-item-card {
  position: relative; /* Needed for positioning actions */
}

.card-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.card-actions img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.card-actions img:hover {
  opacity: 1;
}

/* Styles for when the card is in edit mode */
.existing-item-card.edit-mode {
  background-color: #fffbe6; /* A light yellow to indicate editing */
  padding-right: 70px; /* Make space for action icons */
}

.card-edit-form,
.card-actions {
  display: flex;
  flex-direction: column;
}

.card-actions {
  align-items: center;
}

.existing-item-card .card-edit-form input {
  width: auto; /* Allow input to respect padding */
  padding: 6px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
