.korak {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black; /* For visualization during development */
  border-radius: 12px;
  box-sizing: border-box; /* Include padding in width/height */
}

.korak:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 11px;
  transition: 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.korak > h3 {
  font-size: 2em;
}

/* Backdrop for the modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; /* Initially hidden */
}

/* The modal window itself */
.korak-prozor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Increased width */
  max-width: 1000px; /* Increased max-width */
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  z-index: 1000;
  display: none;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
